$image-width: 10vw;
$image-height: 15vh;


.example-card {
  width: $image-height;
  width: $image-width;
}

.example-header-image {
  background-size: cover;
}

.offLamp{
  content: url('../../../assets/images/Off.png');
}

.onLamp{
  content: url('../../../assets/images/On.png');
}

#lampStatus{
  height: 100%;
  width: 100%;
}
