<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-drawer-container>
  <mat-drawer mode="over" #drawer>
    <div id="MatDrawerHeader">
      <mat-toolbar color="primary">
        <span id="MatDrawerHeaderTitle">INICIO</span>
        <span>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </span>
      </mat-toolbar>
    </div>


  </mat-drawer>
  <mat-drawer-content>

    <app-header [drawer]=drawer>
    </app-header>

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </mat-drawer-content>

</mat-drawer-container>
