.mat-drawer-container{
  height: 100%;

  @media (max-width: 600px){
    background-color: blue;
  }
  @media (max-width: 500px){
    background-color: deeppink;
  }
}

.mat-drawer {

  & #MatDrawerHeader{
    width: 17vw;
  }

  #MatDrawerHeaderTitle{
    width: 100%;
    text-align: center;
  }

}

::ng-deep .mat-button-focus-overlay{
  background: none;
}


.mat-icon-button ::ng-deep .mat-button-focus-overlay{
  display: none;
}

.mat-icon-button:hover{
  background: rgba(81, 12, 130, 0.2);
}

